.ballH{
    width: 200px;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: 2px solid black;
}

body{
    background: repeating-linear-gradient(to bottom right, red,yellow,green);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn_back{
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    background: black;
    padding: 5px;
    outline: none;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}

#status{
    color: black;
    font-size: 20px;
    background: linear-gradient(white, pink);
}

#number_of_objects{
    color: white;
    font-weight: bold;
}

canvas{
    border: 2px dashed white;
    background: white;
    padding: 1px;
    margin-top: 80px;
}